<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
	<persistence-unit name="webappjpa">
		<class>com.volvo.webapp.entites.Department</class>
		<class>com.volvo.webapp.entites.Permission</class>
		<class>com.volvo.webapp.entites.User</class>
		<class>com.volvo.webapp.entites.UserPermission</class>
	</persistence-unit>
</persistence>
